body{
    max-height: 100vh; 
    display: grid;
    grid-template-columns: 1fr 4fr;
}

h1, aside, footer{
    text-align: center;
}

/* List of notes in the sidebar */
ul.notes{
    list-style-position: inside;
    text-align:left;  
}

/* header nav list items */
nav li{
    list-style: none;
}

/* header nav links, save and cancel buttons */
ul.top, div.bottom{
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

textarea{
    margin: 1.5em 0;
    box-sizing: border-box;
    width: 95%;
    max-width: 90vw;
}

/* New Note and Dark Theme Buttons */
div.top{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Bottom Navigation Bar */
nav.bottom{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

@media screen and (min-width: 700px){

}