/* Reset margin and padding on top and bottom to remove scrollbar */
html, body{
    margin-top: 0;
    margin-bottom: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F3E9DE;
    color: #375F68;
}

h1, aside, footer{
    text-align: center;
}

aside {
    background-color: #FAF4EC;
    margin:0 0 0 -0.5rem;
}

/* List of notes in the sidebar */
ul.notes{
    list-style-position: inside;
    text-align: center;
    padding-right: 10vw;
}

main {
    background-color: #F3E9DE;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

article {
    flex: 1 0 auto;
}

/* header nav list items */
nav li{
    list-style: none;
}

/* header nav links, save and cancel buttons */
ul.top, div.bottom{
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

button{
    color: #FFF;
    border-radius: 6px;
    padding: 0.6rem;
}

button.teal{
    background-color: #375F68;
}

button.navy{
    background-color: #56536A;
}

button.red{
    background-color: #9B332C;
}

textarea{
    margin: 1rem 0;
    padding: 1rem;
    box-sizing: border-box;
    max-width: 100%;
}

/* New Note and Dark Theme Buttons */
div.top{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Bottom Navigation Bar */
nav.bottom{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

footer {
   flex-shrink: 0;
}


@media screen and (min-width: 700px){
    body{
        display: grid;
        grid-template-columns: 20vw minmax(0,1fr);
        gap: 1%;
    }
   
    ul.notes{
        text-align: left;
        padding-right: 0;  
    }
}
        