body{
    
}

nav li{
    list-style: none;
}

div.top{
    display: flex;
    justify-content: space-between;
}

nav.top, div.bottom{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 10 px;
}

textarea{
    margin: 20px 0px;
    box-sizing: border-box;
    max-width: 100%;
}

img {
    display: block;
}

h1, footer{
    text-align:center;
}

main {
    display: grid;
    grid-template-columns: 20vw 4fr;
}